<h1>Menu Items</h1>
<table class="table">
  <thead class="bg-success">
    <th>Item ID</th>
    <th>Item Name</th>
    <th>Item Price</th>
    <th>Item Count</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let std of hotel">
      <td>{{ std.itemId }}</td>
      <td>{{ std.itemName }}</td>
      <td>{{ std.itemPrice }}</td>
      <td>{{ std.itemCount}}</td>
      <td><button routerLink='/update' class="bg-info text-white" >Update</button><button routerLink="'/delete" class="bg-danger text-white">Delete</button></td>
    </tr>
  </tbody>
</table>
<button (click)="getAll()" [ngStyle]="{cursor:'pointer'}">Get Menus</button> <br>
