<!-- <h1>Angular App app.component</h1> -->
<!-- <app-employee></app-employee> -->
<!-- <app-navbar></app-navbar> -->
<!--
<button (click)="onClick('1')">Button 1</button>
<button (click)="onClick('2')">Button 2</button>
<button (click)="onClick('3')">Button 3</button>

<div [ngSwitch]="cliButton" [style.color]="clr ? 'red' : 'green'">
  <div *ngSwitchCase="'1'">Button 1 is clicked</div>
  <div *ngSwitchCase="'2'">Button 2 is clicked</div>
  <div *ngSwitchCase="'3'">Button 3 is clicked</div>
  <div *ngSwitchDefault="">Nothing is clicked!!!!!!</div>
</div>

<div
  [ngSwitch]="cliButton"
  [ngStyle]="{
    color: clr ? 'red' : 'green'
  }"
>
  <div *ngSwitchCase="'1'">Button 1 is clicked</div>
  <div *ngSwitchCase="'2'">Button 2 is clicked</div>
  <div *ngSwitchCase="'3'">Button 3 is clicked</div>
  <div *ngSwitchDefault="">Nothing is clicked!!!!!!</div>
</div>

<div
  [ngClass]="{
    cls: clr
  }"
>
  NG CLASS
</div> -->
{{ cliButton }}
