<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">HOTEL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLink="/menu" routerLinkActive="active">
          <a class="nav-link">Menu</a>
        </li>
        <li class="nav-item" routerLink="/id" routerLinkActive="active">
          <a class="nav-link">Find</a>
        </li>
        <li class="nav-item" routerLink="/insert" routerLinkActive="active">
          <a class="nav-link">Insert</a>
        </li>
        <li class="nav-item" routerLink="/update" routerLinkActive="active">
          <a class="nav-link">Update</a>
        </li>
        <li class="nav-item" routerLink="/delete" routerLinkActive="active">
          <a class="nav-link">Delete</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

