<!-- <input type="text" [(ngModel)]="userName" />
<br />
<h2>OUTPUT</h2>
{{ userName }}
<br />
<input type="text" [(ngModel)]="path" /><br />
<h2>Image is</h2>
<br />
<img [src]="path" alt="Give correct path" /><br />
<h3>----------------------------------------------------------------</h3> -->
<!-- <h1>Registration Form</h1>
<table>
  <tr>
    <td><label for="">Enter Employee ID : </label></td>
    <td><input type="text" [(ngModel)]="EmpID" /></td>
  </tr>
  <tr>
    <td><label for="">Enter Employee Name : </label></td>
    <td><input type="text" [(ngModel)]="EmpName" /></td>
  </tr>
  <tr>
    <td><label for="">Enter Employee department : </label></td>
    <td><input type="text" [(ngModel)]="EmpDepartment" /></td>
  </tr>
  <tr>
    <td><label for="">Enter Employee Salary : </label></td>
    <td><input type="text" [(ngModel)]="EmpSalary" /></td>
  </tr>
</table> -->

<!-- <h3>Employee details are</h3>
Employee ID : {{ EmpID }} <br /><br />
Employee Name :{{ EmpName }} <br /><br />
Employee Department : {{ EmpDepartment }} <br /><br />
Employee Salary : {{ EmpSalary }} <br /><br />
<button (click)="submit()" class="btn">Pass to console</button> -->

<h3>----------------------------------------------------------------</h3>
<h2>TABLE</h2>
<br /><br />
<table class="table">
  <thead>
    <tr>
      <th>EmpNID</th>
      <th>EmpName</th>
      <th>EmpDepartment</th>
      <th>EmpSalary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ EmpID }}</td>
      <td>{{ EmpName }}</td>
      <td>{{ EmpDepartment }}</td>
      <td>{{ EmpSalary }}</td>
    </tr>
  </tbody>
</table>
