img{
    border-radius: 10px;
    margin-left: 32%;
}
h1{
    text-align: center;
    color:blue;
}
div{
    border:  2px solid black;
}
p,h3{
    color: brown;
    text-align: center;
}